@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>

                <form action="/Researches" class="search-bar" method="get" style="padding-top: 15px; padding-bottom: 15px;">
                    @Html.TextBox("SearchString", "", new { placeholder = "Search" })
                    <input type="submit" value="Search" />
                </form>
            </li>

            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <form action="/Researches" class="search-bar" method="get" style="padding-top: 15px; padding-bottom: 15px;">
                @Html.TextBox("SearchString", "", new { placeholder = "Search" })
                <input type="submit" value="Search" />
            </form>
        </li>

        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
