@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    WSU<br />
    Parramatta NSW 2150<br />
    <abbr title="Phone">Phone: 9852 5222</abbr>
</address>

<address>

</address>