@{
    ViewBag.Title = "Home Page";
    
}
@model IEnumerable<WSU_Scholar.Models.SchoolCountViewModel>


@section scripts{
    <script src="~/Scripts/bubble_tree/bubbletree.js"></script>
    <script src="~/Scripts/bubble_tree/jquery.history.js"></script>
    <script src="~/Scripts/bubble_tree/jquery.min.js"></script>
    <script src="~/Scripts/bubble_tree/jquery.tooltip.min.js"></script>
    <script src="~/Scripts/bubble_tree/raphael-min.js"></script>
    <script src="~/Scripts/bubble_tree/Tween.js"></script>
    <script src="~/Scripts/bubble_tree/jquery-migrate.min.js"></script>
    <link href="~/Content/bubble_tree/bubbletree.css" rel="stylesheet" />
    <link href="~/Content/bubble_tree/page.css" rel="stylesheet" />
    <link href="~/Content/bubble_tree/tooltip.css" rel="stylesheet" />



    <script type="text/javascript">

    $(function () {
        var data = {
            label: 'Total',
            amount: @{
                int total = 0;
                foreach (var item in Model) { total += item.count; }
                <text>@total,</text>
                }
                
            color: '#0066bb',  // color for root node, will be inherited by children
            children: [
                @{
                    @*Random rand = new Random();
                    int i;
                    foreach (var item in Model)
                    {
                       i = rand.Next(30);
                       <text>
                    {label: '@item.schoolName', amount: @item.},
                    </text>
                    }*@

                    foreach (var item in Model)
                    {
                    <text>
                    {label: '@item.schoolName', amount: @item.count},
                    </text>
                    }
                 }
            ]

        };


        new BubbleTree({
            data: data,
            container: '.bubbletree'
        });
    });

    </script>
}


<div class="jumbotron">
    <div class="bubbletree-wrapper">
        <div class="bubbletree"></div>
    </div>


</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@