body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
select {
    max-width: 350px;
    min-width: 250px;
    padding: 8px;
    margin: 5px;
    font-size: 15px;

}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.feeds{
    padding-top:940px;
    padding-left:0px;
    text-align:center;
    padding-right:0px;
    padding-bottom:30px;
    height:200px;
    bottom:300px;
}

footer{
 
   
    height: 110px;
    border-top:0.2px solid black;
    color: black;
    bottom:0px;
    padding-top:3px;

}