@{
    ViewBag.Title = "Add Research";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add Research</title>
</head>
<body>
    <form id="researchForm" method="post">
        <div>
            <h3>Add Research</h3>
            <h4>Author</h4>
            <table>
                <tr>
                    s
                    <td>Title: </td>
                    <td> <input ID="TitleTextBox"/> </td>
                </tr>
                <tr>
                    <td>Firstname: </td>
                    <td> <input ID="FnameTextBox"/> </td>
                </tr>
                <tr>
                    <td>Surname: </td>
                    <td> <input ID="SurnameTextBox"/> </td>
                </tr>
            </table>

        </div>
        <Button ID="Submit" Text="Submit" />&nbsp<Button ID="Clear" Text="Clear"/>
    </form>
</body>
</html>
