@using WebMatrix.Data;
@{
    ViewBag.Title = "Add Research";

    //Form Code
    var title = "";
    var firstname = "";
    var surname = "";

    if(IsPost){
        
        title = Request.Form["title"];
        firstname = Request.Form["firstname"];
        surname = Request.Form["surname"];

        var db = Database.Open("Database1Entities1");
        var insertCommand = "INSERT INTO Author (Title, Genre, Year) VALUES(@0, @1, @2)";
        db.Execute(insertCommand, title, firstname, surname);
        Response.Redirect("~/Author"); //stop against SQL injections
    }

}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add Research</title>
</head>
<body>
    <form id="researchForm" method="post">
        <div>
            <h3>Add Research</h3>
            <h4>Author</h4>
            <table>
                <tr>
                    <td>Title:</td>
                    <td> 
                        <select id="@Request.Form["title"]" class="form-control">
                            <option value="Mr">Mr.</option>
                            <option value="Mrs">Mrs.</option>
                            <option value="Miss">Miss.</option>
                            <option value="Dr">Dr.</option>
                            <option value="Prof">Prof.</option>
                            <option value="AssocProf">Assoc. Prof.</option>
                        </select> 
                    </td>
                </tr>
                <tr>
                    <td>Firstname: </td>
                    <td><input type="text" class="form-control" id="@Request.Form["firstname"]"  pattern="[A-Za-z ,.'-]+" title="Must be a valid name" /> </td>
                </tr>
                <tr>
                    <td>Surname: </td>
                    <td> <input type="text" class="form-control" id="@Request.Form["surname"]" pattern="[A-Za-z ,.'-]+" title="Must be a valid name" /> </td>
                </tr>
                <tr>
                    <td>Author's Email (Prefer WSU): </td>
                    <td> <input type="email" id="EmailTextBox" class="form-control" title="Must be a valid Email"/> </td>
                </tr>
                <tr>
                    <td>School: </td>
                    <td>
                        <select id="SchoolDropDown" class="form-control">
                            <option value="SchoolOfComputing">School of Computing, Engineering &amp; Mathematics</option>
                            <option value="SchoolOfEducation">School of Education</option>
                            <option value="SchoolOfBusiness">School of Business</option>
                            <option value="SchoolOfHumanities">School of Humanities &amp; Art</option>
                            <option value="SchoolOfLaw">School of Law</option>
                            <option value="SchoolOfMedicine">School of Medicine</option>
                            <option value="SchoolOfNursing">School of Nursing &amp; Midwifery</option>
                            <option value="SchoolOfPsychology">School of Social Science &amp; Phsychology</option>
                            <option value="SchoolOfScience">School of  Science &amp; Health</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Grant Amount: (dollar amount)</td>
                    <td><input id="GrantTextBox" pattern="[0-9]+[.]*[0-9]{2}" title="Currency Format XXX.XX" class="form-control" /> </td>
                </tr>
                <tr>
                    <td>Research File: </td>
                    <td> <input type="file" id="ResearchInput" accept=".pdf,.doc,.docx"/> </td>
                </tr>
            </table>
        </div>
        <br/>
        <button id="Submit" class="btn btn-success">Submit</button> &nbsp <button id="Clear" type="reset" class="btn btn-warning">Clear</button>
    </form>
</body>
</html>
